name: Array API Tests (NumPy dev)

on: [push, pull_request]

jobs:
  array-api-tests-numpy-dev:
    uses: ./.github/workflows/array-api-tests.yml
    with:
      package-name: numpy
      extra-requires: '--pre --extra-index https://pypi.anaconda.org/scientific-python-nightly-wheels/simple'
      xfails-file-extra: '-dev'
      python-versions: '[''3.11'', ''3.13'', ''3.14'']'
      pytest-extra-args: -n 4
      extra-env-vars: |
        ARRAY_API_TESTS_XFAIL_MARK=skip
