name: Array API Tests (PyTorch CPU)

on: [push, pull_request]

jobs:
  array-api-tests-torch:
    uses: ./.github/workflows/array-api-tests.yml
    with:
      package-name: torch
      extra-requires: '--index-url https://download.pytorch.org/whl/cpu'
      extra-env-vars: |
        ARRAY_API_TESTS_SKIP_DTYPES=uint16,uint32,uint64
        ARRAY_API_TESTS_XFAIL_MARK=skip
      python-versions: '[''3.10'', ''3.13'', ''3.14'']'
      pytest-extra-args: -n 4
