name: Docs Build

on: [push, pull_request]

jobs:
  docs-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - name: Install Dependencies
        run: |
          python -m pip install .[docs]
      - name: Build Docs
        run: |
          cd docs
          make html
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: docs-build
          path: docs/_build/html
